<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @chat.ip %>
</p>

<p>
  <strong>Pesan:</strong>
  <%= @chat.pesan %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
